/* Default css created by Shahid - Webriti
-------------------------------------------------- */


/* Css for Index Page goes here
---------------------------------------------------------------*/
/* Navigations----------------- */
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
    color: #ffffff !important;
    background-color: #00639e !important;
}
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
	color: #ffffff;
	background-color:#00639e;
}
.dropdown-menu a:hover {
	color: #ffffff !important;
	background-color: #00639e !important;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #00639e;
    background-image: linear-gradient(to bottom, #00639e, #00639e) !important;
    background-repeat: repeat-x;
    color: #FFFFFF;
    outline: 0 none;
    text-decoration: none;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	color: #ffffff !important;
	background-color: #00639e !important;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
	color: #00639e;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    background: #00639e;
}
.btn {
	background-color: #00639e;
	*background-color: #00639e;
	background-image: -moz-linear-gradient(top, #00639e, #00639e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00639e), to(#00639e));
	background-image: -webkit-linear-gradient(top, #00639e, #00639e);
	background-image: -o-linear-gradient(top, #00639e, #00639e);
	background-image: linear-gradient(to bottom, #00639e, #00639e);
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
	color: #00639e !important;
	background-color: #ffffff;
	border: 1px solid #e6e6e6;
}
/* Flexslider css---------- */
.slidesDescription {
	background: none repeat scroll 0 0 #00639e;
}
#flex_new h4 a{
	color: #00639e;	
}
.slidesDescription p{
	border-left: 1px solid #81bfe4;
    color: #cde5f4;
}
#flex_new h4 a{
	color: #353C3F;
}
#flex_new h4 a:hover{
	color: #00639e;
}
.flex-direction-nav .flex-next {
	background: url(../images/next.png) no-repeat 0 0 !important;
}
.flex-direction-nav .flex-next:hover {
  background: url(../images/next-blue-hover.png) no-repeat 0 0 !important;
}
.flex-direction-nav .flex-prev {
   background: url(../images/prev.png) no-repeat 0 0 !important;
}
.flex-direction-nav .flex-prev:hover {
  background: url(../images/prev-blue-hover.png) no-repeat 0 0 !important;
}
blockquote {
	border-left: 5px solid #00639e;
}
blockquote.pull-right {
  border-right: 5px solid #00639e;
}
/* Menus Drop Shadow */
/* #main_shadow {
    box-shadow: 5px 1px 3px #E8ECEE;
    -moz-box-shadow: 5px 1px 3px #E8ECEE;
    -webkit-box-shadow: 5px 1px 3px #E8ECEE;
} */
.home_service {
    color: #353c3f;
}
.home_sevice_para {
    color: #626668;
}
.home_tagline {
    color: #00639e;
}
.home_product_tagline {
    color: #4b453f;
}

/* Flexslider Thumbnails */
.flex_thumbnail {
    bottom: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.flex_thumbnail p {
    color: #6d6962;
}
.flex_thumbnail h4 {
    color: #4b453f;
}
.flex_btn {
    color: #ffffff;
    background-color: #4b453f;
    *background-color: #4b453f;
}
.flex_btn:hover,
.flex_btn:focus,
.flex_btn:active,
.flex_btn.active,
.flex_btn.disabled,
.flex_btn[disabled] {
    color: #333333;
    background-color: #e6e6e6;
    *background-color: #d9d9d9;
}

/* Products Thumbnail css here for Home Page-------------------------------Shahid */
.home_products_bg {
    background: #ffffff;
}
.home_products_bg li {
    border-right: 1px solid #eae7e4;
}
.home_products_bg h3 {
    color: #00639e;
    border-top: 1px solid #eae7e4;
}
.home_products_bg p {
    color: #626668;
}

/* Pinkstrip Container Css -----------------------------------------------------------------------------------------------------*/
    /* Large desktop */
@media (min-width: 1025px) {

    .pink-container {
        background: none repeat scroll 0 0 #00639e;
    }
    .pink-container h1 {
        color: #FFFFFF;
    }
    .pink-container p {
        border-left: 1px solid #81BFE4;
		color: #CDE5F4;
    }
    .pink_title  dt {
        color: #ffffff;
    }
    .pink-head {
        color: #ffffff;
    }
    .spa_tag {
        background: url("../images/spa-tag-blue.png") no-repeat scroll 0 0 transparent;
    }
    .spa_tag span {
        color: #1e8bcc;
    }
    .spa_tag span p {
        color: #00639e;
    }
}   
 @media (max-width: 1024px) and (min-width: 980px){
	.pink-container {
        background: none repeat scroll 0 0 #00639e;
    }
	.pink-container h1 {
        color: #FFFFFF;
    }
    .pink-container p {
        border-left: 1px solid #81BFE4;
		color: #CDE5F4;
    }
    .pink_title  dt {
        color: #ffffff;
    }
    .pink-head {
        color: #ffffff;
    }
    .spa_tag {
        background: url("../images/spa-tag-blue.png") no-repeat scroll 0 0 transparent;
    }
    .spa_tag span {
        color: #1e8bcc;
    }
    .spa_tag span p {
        color: #00639e;
    }
 }
/*service one and two column css------------------------------------------------------------------------------------------------------------------------*/
.services-heading {
    border-bottom: 1px solid #EAE7E4;
    color: #353c3f;
}
.service-media-heading {
    color: #4A4849;
}
.services-content p {
    color: #7a8082;
}
.service-btn {
    color: #00639e;
}
a:hover,
a:focus {
    color: #00639e !important;
} 

/* About Us Styles-----------------------------------*/
#aboutus-section {
    border-bottom: 1px solid #E9E9E9;
}
.aboutus-head {
    color: #00639e;
}
.aboutus-team-img {
    border-top: 5px solid #D8D8D8;
}
.aboutus-media-heading {
    color: #302d2e;
}
.about-circle-img {
    border: 7px solid #00639e;
}
.aboutus-alink {
    color: #00639e;
}
a {
    color: #00639e;
}
.ourteamheading {
    color: #00639e;
}
#our-team {
    border-bottom: 1px solid #E9E9E9;
}
.designation {
    color: #00639e;
}
a.facebook {
    background: url("../images/facebook.png") no-repeat scroll 0 0 transparent;
}
a.twitter {
    background: url("../images/twitter.png") no-repeat scroll 0 0 transparent;
}
a.google {
    background: url("../images/google.png") no-repeat scroll 0 0 transparent;
}
#about-service-head {
    color: #00639e;
}
.aboutus_content p {
    color: #929090;
}
.about-team-head {
    color: #424040;
}
.aboutus-service-head {
    color: #302d2e;
}

/* Css include here for Products template ------------------------------------------------------------------------------------*/
.spa-products-btn {
    color: #00639e;
}
.spa-Products {
    background: #fff;
}

.spa-products-detail {
    background: #fff;
}
.spa-products-heading {
    color: #353c3f;
}
.spa-products-thumbnail {
    border-right: 1px solid #EAE7E4;
    border-top: 1px solid rgb(234, 231, 228);
    border-bottom: 1px solid rgb(234, 231, 228);
}
.spa-products-img {
    border-bottom: 1px solid #EAE7E4;
}
.spa-thumbnail h4, .spa-products-detail h4, .spa-products-details-thumbnail h4 {
    color: #00639e;
}
.spa-thumbnail p, .spa-products-thumbnail p, .spa-products-detail p, .spa-products-details-thumbnail p {
    color: #626668;
}
.spa-products-thumbnail h4{
    color: #353C3F;
}

/*Product Detail Page CSS----------------------------------------------*/
.heading-related-products {
    color: #4a4849;
}
.sidebar-widget-heading {
    color: #4a4849;
}
.product-detail-img {
    border: 1px solid #E7E7E7;
}
.spa-productsdetail-img {
    border-bottom: 1px solid #EAE7E4;
    border-bottom: 1px solid #EAE7E4;
    border-right: 1px solid #EAE7E4;
    border-top: 1px solid #EAE7E4;
}
.media-heading {
    color: #353C3F;
}
.product-content p {
    color: #7a8082;
}
.price-tag {
    color: #00639e;
}
.Product-detail-heading {
    color: #353c3f;
} 
/*contact css----------------------------------------------*/
.contact-header {
    color: #00639e;
}
.contact-header-getin {
    color: #00639e;
}
#contact-section {
    border-top: 1px solid #E9E9E9;
}
.contact-add {
    color: #424040;
}
.address-detail {
    color: #7a7a7a;
}
#phone {
    border: 1px solid #E0E0E0;
}
.phone-no {
    color: #00639e!important;
}
.call-us {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E0E0E0;
    color: #302D2E;
}
#contact-container {
    border-bottom: 5px solid #00639e;
}
.form_name {
    color: #707070;
}
.contact-form-submit {
    background-color: #00639e;
    color: #ffffff;
}
/* blog template  Css ------------------------------------------------------------------*/
/*Responsive Video CSS */
.blog_detail_head {
    color: #353c3f;
}
.blog-icons li {
    border-bottom: 1px solid #dedede;
}
.blog-icons li a {
    color: #9a9a9a;
}
.blog-icons li a:hover {
    color: #00639e;
}
.blog-heading {
    color: #353c3f;
}
.blog_content p {
    color: #989495;
}
.blog-readmore {
    color: #00639e;
}
/* Sidebar-------------------------------------------------*/
._blank {
    height: 50px;
}
#widget-title {
    background: none repeat scroll 0 0 #F2F2F2;
    border-left: 4px solid #00639e;
}
.spa-widget-title {
    color: #4a4849;
}
.sidebar-thumb p {
    color: #7a8082;
}
.sidebar-thumb a {
    color: #a3a7a9;
}
.sidebar-thumb a:hover {
    color: #00639e;
}
.sidebar-img {
    border: 1px solid #e7e7e7;
}
.sidebar-phone {
    background: url("../images/phone.png") no-repeat scroll 0 0 transparent;
}
.sidebar-mail {
    background: url("../images/envelop.png") no-repeat scroll 0 0 transparent;
}
.sidebar-city {
    background: url("../images/baloon.png") no-repeat scroll 0 0 transparent;
}
.sidebar-phone a, .sidebar-mail a, .sidebar-city a {
    color: #4a4849;
}
a.facebook {
    background: url("../images/facebook.png") no-repeat scroll 0 0 transparent;
}
a.tweeter {
    background: url("../images/twitter.png") no-repeat scroll 0 0 transparent;
}
a.google {
    background: url("../images/google.png") no-repeat scroll 0 0 transparent;
}
.sidebar-btn {
    color: #ffffff;
    background-color: #00639e;
    *background-color: #00639e;
    background-image: -moz-linear-gradient(top, #00639e, #00639e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00639e), to(#00639e));
    background-image: -webkit-linear-gradient(top, #00639e, #00639e);
    background-image: -o-linear-gradient(top, #00639e, #00639e);
    background-image: linear-gradient(to bottom, #00639e, #00639e);
}
.sidebar-btn:hover,
.sidebar-btn:focus,
.sidebar-btn:active,
.sidebar-btn.active,
.sidebar-btn.disabled,
.sidebar-btn[disabled] {
    color: #ffffff;
    background-color: #3b3f41;
    *background-color: #3b3f41;
}
.sidebar-btn:hover,
.sidebar-btn:focus {
    color: #ffffff;
    background: #3b3f41;
}
/*Sidebar Widget managed by shahid---------------------------8/4/2015*/
.sidebar-widget-title {
  background: none repeat scroll 0 0 #F2F2F2;
  border-left: 4px solid #00639e;
}
.sidebar-widget-title h4 {
  color: #4a4849;	
  }
.sidebar-widget div#calendar_wrap table > thead > tr > th {
	color: #00639e;
	}

/*blog post detail ------------------------------------------------------*/
.blog-heading {
    color: #353c3f;
}
.blog-detail-content p {
    color: #989495;
}
.blog-post-bg {
    border-bottom: 1px solid #dedede;
}
.blog-detail-subheading {
    color: #3b3f41;
}
ul.service-detail-list li, .blog-post-list li {
    color: #00639e;
}
ul.service-detail-list li span, .blog-post-list li span {
    color: #5B5F61;
}
.blog-post-heading {
    color: #2f2f2f;
}
.reply a {
    color: #353C3F;
}
.blog-comment-content  p {
    color: #989495;
}
.blog-post-heading span {
    color: #AAAAAA;
}
.comment-reply-title {
    border-top: 1px solid #dedede;
    color: #00639e;
}
.blog-form-feild {
    color: #6b6768;
}
#blog-form-post {
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    display: inline-block;
    font-family: roboto;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 30px;
    background-color:#00639e;
    color: #FFFFFF;
}
.cmt_input_bg {
    background: #f7f7f7;
    border: 1px solid #e0e0e0;
}
/* Typography page css here */
.typography-heading {
    border-bottom: 1px solid #e7e4e5;
    color: #00639e;
}
.headingh1 {
    color: #201f1f;
}
.headingh2 {
    color: #201f1f;
}
.headingh3 {
    color: #201f1f;
}
.headingh4 {
    color: #201f1f;
}
.headingh5 {
    color: #201f1f;
}
.headingh6 {
    color: #201f1f;
}
.typography-content p {
    color: #9aa1a5;
}
.block-content p {
    color: #9aa1a5;
}
.typo-sub-heading {
    color: #525556;
}
ul.arrow1 li {
    background-image: url("../images/arrow-blue.png");
}
.typo-bold {
    color: #333333;
}
ul.typolist {
    color: #00639e;
}
ul.typolist li {
    color: #848b8f;
}
ul.typo-integer {
    color: #848b8f;
}
ul.arrow1 a {
    color: #848b8f;
}
ul.typo-integer li {
    color: #848b8f;
}
/*Cloud Tag*/
.tagcloud a{
	background-color: #ffffff;
   border: 1px solid #00639E!important;
   font-size: 13px !important;
}
.tagcloud a:hover{
	background-color: #00639E!important;
    border: 1px solid #00639E!important;
    color: #ffffff !important;
}
.tagcloud a:active{
	background-color: #00639E!important;
    border: 1px solid #00639E!important;
    color: #ffffff !important;
}
.coma {
    background: #ffffff url("../images/coma-blue.png") no-repeat;
}
span.blockquote-pink {
    background-color: #00639e;
    color: #FFFFFF;
}
span.blockquote-black {
    background-color: #000000;
    color: #FFFFFF;
}
span.blockquote-pink-large {
    color: #00639e;
}
span.blockquote-black-large {
    color: #2d292a;
}
#typo p {
    color: #818A95;
}
.content-blockquote p {
    color: #2e2c2d;
}
.typo-quote p {
    color: #757575;
}
blockquote.arrange {
    background: #ffffff;
}
span.second {
    background: none repeat scroll 0 0 #00639e;
    color: #FFFFFF;
}
.content-object {
    border: 1px solid #d9d3d6;
}
.typo-img-caption {
    color: #2d292a;
}
a.content-thumb:hover,
a.thumbnail:focus {
    border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.content-thumb .caption {
    color: #555555;
}
.btn-thumb-red {
    color: #fff;
    background-color: #00639e;
    *background-color: #00639e;
    background-image: -moz-linear-gradient(top, #00639e, #00639e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00639e), to(#00639e));
    background-image: -webkit-linear-gradient(top, #00639e, #F00639e);
    background-image: -o-linear-gradient(top, #00639e, #00639e);
    background-image: linear-gradient(to bottom, #00639e, #00639e);
}
.btn-thumb:hover,
.btn-thumb:focus,
.btn-thumb:active {
    color: #ffffff;
    background-color: #2d292a;
    *background-color: #2d292a;
    background-image: -moz-linear-gradient(top, #2d292a, #2d292a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d292a), to(#2d292a));
    background-image: -webkit-linear-gradient(top, #2d292a, #2d292a);
    background-image: -o-linear-gradient(top, #2d292a, #2d292a);
    background-image: linear-gradient(to bottom, #2d292a, #2d292a);
}
.btn-thumb-black {
    color: #fff;
    background-color: #2d292a;
    *background-color: #2d292a;
    background-image: -moz-linear-gradient(top, #2d292a, #2d292a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2d292a), to(#2d292a));
    background-image: -webkit-linear-gradient(top, #2d292a, #2d292a);
    background-image: -o-linear-gradient(top, #2d292a, #2d292a);
    background-image: linear-gradient(to bottom, #2d292a, #2d292a);
}
.btn-thumb1:hover,
.btn-thumb1:focus,
.btn-thumb1:active {
    color: #ffffff;
    background-color: #00639e;
    *background-color: #00639e;
    background-image: -moz-linear-gradient(top, #00639e, #00639e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00639e), to(#00639e));
    background-image: -webkit-linear-gradient(top, #00639e, #00639e);
    background-image: -o-linear-gradient(top, #00639e, #00639e);
    background-image: linear-gradient(to bottom, #00639e, #00639e);
}

/* Column Page css here------------------------- */
.column {
    color: #00639e;
}
.column-content p {
    color: #9aa1a5;
}

/* Shortcode Page css here------------------------------------------------------------ */
.shortcode-head {
    color: #201f1f;
}
.spa-btn {
    color: #ffffff;
}
.pink {
    background-color: #00639e;
    *background-color: #00639e;
    background-image: -moz-linear-gradient(top, #00639e, #00639e);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00639e), to(#00639e));
    background-image: -webkit-linear-gradient(top, #00639e, #00639e);
    background-image: -o-linear-gradient(top, #00639e, #00639e);
    background-image: linear-gradient(to bottom, #00639e, #00639e);
}
.green {
    background-color: #5ebc2b;
    *background-color: #5ebc2b;
    background-image: -moz-linear-gradient(top, #5ebc2b, #5ebc2b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5ebc2b), to(#5ebc2b));
    background-image: -webkit-linear-gradient(top, #5ebc2b, #5ebc2b);
    background-image: -o-linear-gradient(top, #5ebc2b, #5ebc2b);
    background-image: linear-gradient(to bottom, #5ebc2b, #5ebc2b);
}
.grey {
    background-color: #414b56;
    *background-color: #414b56;
    background-image: -moz-linear-gradient(top, #414b56, #414b56);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414b56), to(#414b56));
    background-image: -webkit-linear-gradient(top, #414b56, #414b56);
    background-image: -o-linear-gradient(top, #414b56, #414b56);
    background-image: linear-gradient(to bottom, #414b56, #414b56);
}
.skyblue {
    background-color: #1bb7de;
    *background-color: #1bb7de;
    background-image: -moz-linear-gradient(top, #1bb7de, #1bb7de);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1bb7de), to(#1bb7de));
    background-image: -webkit-linear-gradient(top, #1bb7de, #1bb7de);
    background-image: -o-linear-gradient(top, #1bb7de, #1bb7de);
    background-image: linear-gradient(to bottom, #1bb7de, #1bb7de);
}
.silver {
    color: #414b56;
    background-color: #f3f3f3;
    *background-color: #f3f3f3;
    background-image: -moz-linear-gradient(top, #f3f3f3, #f3f3f3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3f3f3), to(#f3f3f3));
    background-image: -webkit-linear-gradient(top, #f3f3f3, #f3f3f3);
    background-image: -o-linear-gradient(top, #f3f3f3, #f3f3f3);
    background-image: linear-gradient(to bottom, #f3f3f3, #f3f3f3);
}
.orange {
    background-color: #e87c2d;
    *background-color: #e87c2d;
    background-image: -moz-linear-gradient(top, #e87c2d, #e87c2d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e87c2d), to(#e87c2d));
    background-image: -webkit-linear-gradient(top, #e87c2d, #e87c2d);
    background-image: -o-linear-gradient(top, #e87c2d, #e87c2d);
    background-image: linear-gradient(to bottom, #e87c2d, #e87c2d);
}
.purple {
    background-color: #4b68b2;
    *background-color: #4b68b2;
    background-image: -moz-linear-gradient(top, #4b68b2, #4b68b2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4b68b2), to(#4b68b2));
    background-image: -webkit-linear-gradient(top, #4b68b2, #4b68b2);
    background-image: -o-linear-gradient(top, #4b68b2, #4b68b2);
    background-image: linear-gradient(to bottom, #4b68b2, #4b68b2);
}
.aqua {
    background-color: #d75479;
    *background-color: #d75479;
    background-image: -moz-linear-gradient(top, #d75479, #d75479);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d75479), to(#d75479));
    background-image: -webkit-linear-gradient(top, #d75479, #d75479);
    background-image: -o-linear-gradient(top, #d75479, #d75479);
    background-image: linear-gradient(to bottom, #d75479, #d75479);
}
.yellow {
    background-color: #f0ba00;
    *background-color: #f0ba00;
    background-image: -moz-linear-gradient(top, #f0ba00, #f0ba00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0ba00), to(#f0ba00));
    background-image: -webkit-linear-gradient(top, #f0ba00, #f0ba00);
    background-image: -o-linear-gradient(top, #f0ba00, #f0ba00);
    background-image: linear-gradient(to bottom, #f0ba00, #f0ba00);
}
.red {
    background-color: #ea3128;
    *background-color: #ea3128;
    background-image: -moz-linear-gradient(top, #ea3128, #ea3128);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ea3128), to(#ea3128));
    background-image: -webkit-linear-gradient(top, #ea3128, #ea3128);
    background-image: -o-linear-gradient(top, #ea3128, #ea3128);
    background-image: linear-gradient(to bottom, #ea3128, #ea3128);
}
.btn:hover,
.btn:focus,
.pink:hover,
.pink:focus,
.green:hover,
.green:focus,
.grey:hover,
.grey:focus,
.skyblue:hover,
.skyblue:focus,
.silver:hover,
.silver:focus,
.orange:hover,
.orange:focus,
.purple:hover,
.purple:focus,
.aqua:hover,
.aqua:focus,
.yellow:hover,
.yellow:focus,
.red:hover,
.red:focus {
    color: #ffffff;
    background: #3b3f41;
}
ul.bg li {
    background-image: url("../images/red-arrow.png");
}
ul.bg li a, ul.arrow li a, ul.upper li a, ol li a, ul.typolist, ul.arrow1 li a, ul.typo-integer li a {
    color: #6A7179;
}
ul.arrow li {
    background-image: url("../images/arrow.png");
}
.spa-blockquote {
    background: none repeat scroll 0 0 #F3F3F3;
    border-left: 5px solid #E3365B;
}
.spa-blockquote p {
    color: #818A95;
}
.spa-blockquote small {
    color: #00639e;
}
.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    color: #9a9697;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    color: #9a9697;
}
.pagination ul > li > a, .pagination ul > li > span {
    color: #4a4849;
}
.pager li > a, .pager li > span {
    color: #4a4849;
}

.pagi ul > .active > a, .pagi ul > .active > span {
    border: 1px solid #00639e;
    color: #FFFFFF;
}
.pagi ul > li > a:hover, .pagi ul > li > a:focus, .pagi ul > .active > a, .pagi ul > .active > span {
    background-color: #00639e !important;
    color: #ffffff !important;
}
.nav-tabs > li > a {
    color: #000;
}

/* servce detail page-------------------------------------------------------*/
/* Pikachoose slider Css here */
.pika-stage {
    background: none repeat scroll 0 0 #F1F1F1;
}
.pika-imgnav a.pause {
    background: url("../images/pause.png") no-repeat scroll 0 50% transparent;
}
.pika-imgnav a.previous {
    background: url("../images/prev01.png") no-repeat scroll left 45% transparent;
}
.pika-counter {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    color: #ffffff;
}
.pika-stage .caption {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.75);
    border: 1px solid #141414;
    color: #FAFAFA;
}
.pika-textnav a {
    color: #333333;
}
.pika-thumbs li {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #E5E5E5;
}

/* Close of Pikachoose */
.service-detail-content-head {
    color: #3b3f41;
}
.service-detail-content p {
    color: #989495;
}

.service_detail_head {
    color: #353c3f;
}
.service-detail-bg {
    background: none repeat scroll 0 0 #F2F2F2;
}
.service-detail-heading {
    color: #3B3F41;
}
ul.service-detail-list li, .blog-post-list li {
    color: #00639e;
}
ul.service-detail-list li span, .blog-post-list li span {
    color: #5B5F61;
}

/* Main Slider Thumbnails Area ----------------------------- */
.slider-thumb-container {
    background: #ffffff;
}
.flex-thumbnal-area span {
    color: #6D6962;
}
.flex-thumbnal-area span h4 {
    color: #4B453F;
}
.flex-btn {
    background: none repeat scroll 0 0 #4B453F;
    color: #FFFFFF;
}
.flex-btn:hover {
   background: none repeat scroll 0 0 #00639e;
   color: #FFFFFF;
}
.flex-thumbnal-area a:hover{  color: #fff !important; }

/* Footer Css ------------------------------------------------------------------------------------------------------------------*/
footer li a {
    color: #626668;
}
footer li a:hover, footer li a:active {
    color: #00639e;
}
footer p {
    color: #626668;
}
.footer_full {
    border-top: 1px solid #e5e5e5;
}
/*Footer Widget managed by shahid---------------------------8/4/2015*/
.footer_widget div#calendar_wrap table > thead > tr > th { color: #00639e; }

/* -------- Blog Icon Backgroud Image --------*/
.admin-icon {
    background-image: url("../images/admin_icon.png");
    border-bottom: 1px solid #DEDEDE;
}
.calendar-icon {
    background-image: url("../images/calendar_icon.png");
    border-bottom: 1px solid #DEDEDE;
}
.comment-icon {
    background-image: url("../images/comment_icon.png");
    border-bottom: 1px solid #DEDEDE;
}
.admin-icon a, .calendar-icon a, .comment-icon a {
	color: #626668;
}
.admin-icon a:hover, .calendar-icon a:hover, .comment-icon a:hover {
	color: #00639e;
}
/*-- Paragraph Comment Highlight --*/
.para_comment_new{
	color: #00639e;
}
.comment_txt_highlight{
	color: #00639e;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #00639e !important;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px #00639e, 0 0 8px #00639e !important;
     -moz-box-shadow: inset 0 1px 1px #00639e, 0 0 8px #00639e !important;
          box-shadow: inset 0 1px 1px #00639e, 0 0 8px #00639e !important;
}

/* New Woocommerce add 3/4/2015 */
.woocommerce span.onsale {
background-color: #00639E!important;
color: #fff!important;
}
.woocommerce ul.products li.product .price {
color: #00649E;
}
.woocommerce a.remove {
color: #00639E!important;
}
.woocommerce a.remove:hover {
background-color: #00639E!important;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
background-color: #00639E!important;
color: #fff!important;
}
.woocommerce .woocommerce-error {
border-top-color: #00639E!important;
}
.woocommerce .woocommerce-error:before {
content: "\e016";
 background-color: #00639E!important;
 color: #fff!important;
}
.woocommerce .woocommerce-error, .woocommerce-page .woocommerce-error, .woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message, .woocommerce .woocommerce-info, .woocommerce-page .woocommerce-info {
border-top: 3px solid #00639E !important;
}
.woocommerce .woocommerce-message:before {
content: "\e015";
color: #fff!important;
}
.woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-error:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before, .woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before, .woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before { background-color: #f7f6f7!important; color: #00639E !important;}

.woocommerce form .form-row .required {
color: #00639E!important;
}
.woocommerce form .form-row.woocommerce-invalid .select2-container, .woocommerce form .form-row.woocommerce-invalid input.input-text, .woocommerce form .form-row.woocommerce-invalid select {
border-color: #00639E!important;
}
.woocommerce form .form-row.woocommerce-validated .select2-container, .woocommerce form .form-row.woocommerce-validated input.input-text, .woocommerce form .form-row.woocommerce-validated select {
border-color: #00639E!important;
}
.label, .badge {
background-color: #00639E!important;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
color: #00639E!important;
font-size: 1.25em;
}
.pagi .pagi-large ul a.active {
    background: #00639E !important;
    color: #fff !important;
}
.footer-section {
   border-top: 3px solid #00639E;
}