 /*It contain responsive css which is use to make responsive page*/
 
 
/* about us responsive css ---------------------------------------------------------------------*/

@media (max-width: 767px){
.span8 .media .span3{display:none;}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px)  { 

.contact-input-fields
{

	min-height: 35px;
	text-align: left;
	width:250px;
}
		
		
#phone {

	margin-top: 25px;
	padding: 20px 0px;
}
.phone-no
 {
	color: #F22853;
	font-family: Raleway-Medium;
	font-size: 30px;
	line-height: 27px;
}

.phone-icon {
    display: block;
    float: left;
    height: 25px;
    margin-right: 20px;
    width: 20px;
}	

.call-us {
   
    color: #302D2E;
    font-family: roboto;
    font-size: 15px;
    padding: 10px 40px;
  
} 
.info-arrange    {
margin-left:70px;
}
	  


.btn-thumb {
  
  padding: 7px 20px;
  }


.pikachoose {
    float: none;
    margin-bottom: 59px;
    width:450px;
}
.pika-stage {
    width:450px;
}
.pika-thumbs {
    height: 75px;
    margin-top: 15px;
    padding: 0 40px;
}		
.pikachoose a img
{
 width:450px;
}

#pikame{

display:none;
}
.product-detail-img
{
width:215px;
height:205px;
}	
.blog-icons li 
{
width:100px;
}	


.slider-thumb-container
{
display:none;
}

	
}

/* Landscape phone to portrait tablet */
    @media (max-width: 767px) { 
.about-circle-img {     height: 200px;     width: 200px;  }
.abouus-service-img{   width:160px; height:60px; }
.aboutus-team-img {     height: 100px;     width: 100px;  }
	 

.contact-input-fields
{

	min-height: 25px;
	text-align: left;
	width:200px;

}
		
.phone-no
 {
	color: #F22853;
	font-family: Raleway-Medium;
	font-size: 32px;
	line-height: 45px;
}

.phone-icon {
    display: block;
    float: left;
    height: 45px;
    margin-right: 20px;
    width: 60px;
}

.pikachoose {
    float: none;
    margin-bottom: 59px;
    width:500px;
}
.pika-stage {
    width: 500px;
}
.pika-thumbs {
    height: 75px;
    margin-top: 15px;
    padding: 0 40px;
}		
.pikachoose a img
{
 width:500px;
}		

.pika-stage .pika-textnav {
    width: 500px;
}
.pika-textnav a.previous {
    display: block;
    float: left;
    width: auto;
}
.pika-textnav a {
    color: #333333;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
}
   
#pikame{

display:none;
}	

.slider-thumb-container
{
display:none;
}
	
   }
     
/* Landscape phones and down */
@media (max-width: 480px)
{ 
.about-circle-img {     height: 200px;     width: 200px;  }
.abouus-service-img{   width:140px; height:100px; }
.aboutus-team-img {     height: 100px;     width: 100px;  }

.contact-input-fields
{

	min-height: 25px;
	text-align: left;
	width:200px;

}
.phone-no
{
	color: #F22853;
	font-family: Raleway-Medium;
	font-size: 25px;
	line-height: 45px;
}

.phone-icon 
{
	display: block;
	float: left;
	height: 45px;
	margin-right: 20px;
	width: 60px;
}
.call-us {
   
    bottom: 33px;
  
    font-size: 16px;
    left: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 60px;
   
   }

.pikachoose {
    float: none;
    margin-bottom: 59px;
    width:270px;
}
.pika-stage {
    width: 270px;
}
.pika-thumbs {
    height: 75px;
    margin-top: 15px;
    padding: 0 20px;
}

.pikachoose a img
{
 width:270px;
 height:150px;
}

.pika-stage .pika-textnav {
    width: 270px;
}

#pikame{

display:none;
}

.slider-thumb-container
{
display:none;
}

}
@media only screen and (min-width: 200px) and (max-width: 480px) {

.call-us {
  left: 112px;
  padding: 7px 6px;
}
ul.about-service-area { margin-left: 0; }
.about-service-img { float: none; }
.blog-icon-media { float: none; margin: 0 0 25px; }

}

@media (max-width: 1024px) and (min-width:980px)   { 

.about-circle-img {
    

	height: 250px;
	width: 250px; 
}

.contact-input-fields
{

	min-height: 25px;
	text-align: left;
	width:250px;

}
.phone-no
{
	color: #F22853;
	font-family: Raleway-Medium;
	font-size: 25px;
	line-height: 45px;
}

.phone-icon 
{
	display: block;
	float: left;
	height: 45px;
	margin-right: 20px;
	width: 60px;
}

.call-us {
    font-size: 15px;
    left: 65px;
   
}

.btn-thumb {
  display: inline-block;
  *display: inline;
  padding: 7px 20px;
  }

.pikachoose {
    float: none;
    margin-bottom: 59px;
    width:400px;
	
}
.pika-stage {
    width: 400px;
}
.pika-thumbs {
    height: 75px;
    margin-top: 15px;
    padding: 0 40px;
}
.pikachoose a img
{
 width:400px;
}

.pika-stage .pika-textnav {
    width: 400px;
}

#pikame{

display:none;
}

.pink-container {
    
    bottom: 0px;
    left: 0;
    padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 0px;
	   
    position: relative;
    right: 0;
/* 	width:1110px; */
	margin:	auto;
	
}
.pink-container h1, .pink-container .lead {
    color: #FFFFFF;
    line-height: 1.25;
    margin: 0;
   
}
.pink_title{
	padding-right: 15px;
	margin-top:3px;
}
.pink-container p{
	border-left: 1px solid #F05D7D;
    color: #FCCED7;
    font-family: roboto;
    font-size: 13px;
    padding-left: 30px;
	line-height: 21px;
}
.pink_title  dt{
	font-family: Raleway-Light;
	color: #ffffff;
	font-size: 21px;
	text-transform:uppercase;
}  
.pink-head{
	font-family: Raleway-Xbold;
	color: #ffffff;
	font-size: 36px;
}
.spa_tag{
	/*background: url("../images/spa-tag.png") no-repeat scroll 0 0 transparent;*/
	bottom: 13px;
    height: 105px;
     
    position: relative;
	float:right;
	width:170px;
	display:block;
	margin-right:20px;
	
	
}
.spa_tag span{
	/* color: #D61841;*/
    display: block;
    font-size: 12px;
    font-weight: 600;
	font-family: Raleway-Medium;
    height: 40px;
    left: 18px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 48px;
    width: 135px;
}
.spa_tag span p{
    font-size: 18px;
	/*color: #9C253E;*/
	font-family: Raleway-Sbold;
	border: 0px;
	padding: 0px;
}


.slider-thumb-container{
	right: 0px;
	left: 0px;
	bottom: 0px;
	overflow: hidden; 
	margin:0px auto;
	height:155px;
	padding-top:19px;
	display:block;  
	z-index:1;
}
.thumb-img-container
 {  
    height: 155px;
/*    width:295px;  */
   float:left;
  /*  margin-left:10px; */
  
 }
 
.slider-thumb{
	
	display: block;
    height: 155px;
	width: 295px;
	padding: 0px;

}
.flex-thumbnal-area {
    bottom: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
    width: 200px;
    z-index: 0;
}


.slidesDescription
{
/*bottom:79.6%; To resolve the bitbucket's resposvie issue in browser/mobile screen*/
bottom:69.6%;
}


 
  }
