/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
    outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    width: 100%;
    display: block;

}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
    display: block;
}


/* FlexSlider Default Theme
*********************************/
.flexslider 
{
	margin: 0 0 0px; 
	position: relative; 
	zoom: 1;
}

.flex-viewport 
{
	/*     max-height: 2000px; akhlesh*/
	max-height:800px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}

.loading .flex-viewport {
  max-height: 300px; 
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
   /*      margin-right: 5px;  commented by akhlesh*/
    margin-right: 0px;
}


/* Direction Nav */
.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 32px;
    height: 46px;
    margin: -20px 0 0;
    display: block;
    /* background: url(../images/bg_direction_nav.png) no-repeat 0 0; */
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;

    -webkit-transition: all .3s ease;
}

#carousel .flex-direction-nav .flex-prev,
#carousel .flex-direction-nav .flex-next{
       left: -36px;
   visibility: hidden;
}

.flex-direction-nav .flex-next {
   background-position: 100% 0;
   right: 0px;
       background: url(../images/next.png) no-repeat 0 0;
       width: 33px;
       height: 46px;
}
.flex-direction-nav .flex-next:hover {
 background: url(../images/hover_next.png) no-repeat 0 0;
       width: 33px;
       height: 46px;
}
.flex-direction-nav .flex-prev {
  background: url(../images/prev.png) no-repeat 0 0;
       width: 33px;
       height: 46px;
}
.flex-direction-nav .flex-prev:hover {
 background: url(../images/hover_prev.png) no-repeat 0 0;
       width: 33px;
       height: 46px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
 
    filter: alpha(opacity=30);
    cursor: default;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
		visibility: hidden; /* Comment by Shahid */
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0,0,0,0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0,0,0,0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 0;
    };
}


/*additional style*/
/* added for make changes in thumnail and pink strip */

.slidesDescription {

	top:0%;
	/*background: none repeat scroll 0 0 #F22853; for adjust the color skins*/ 
	left: 0;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	position: absolute;
	right: 0;
	margin:0px auto;
}
.slidesDescription  h1, .slidesDescription  .lead {
    /*color: #FFFFFF;*/
    line-height: 1.25;
    margin: 0;
   
}
.slidesDescription p{
    font-family: roboto;
    font-size: 13px;
    padding-left: 30px;
	line-height: 21px;
}
.main-sliderimg
{
	/* height:800px; */
	height: auto;
}



/* Flexslider for Products Thumbnails --- Shahid */
.product_flex_img{
	display: block;
    width: 100%;
	height: 235px;
	border-bottom: 1px solid #eae7e4;
}
.product_manage{
	margin-bottom: 70px;
}
#flex_new{
	background: #ffffff; 
}
#flex_new h4{
	margin: 15px 20px 0;
}
#flex_new h4 a{
color: #353C3F;
    text-decoration: none;
	font-family: Roboto;
    font-size: 16px;
    text-align: left;
	
}
#flex_new h4 a:hover{color:#f22853;}

#flex_new p{
color: #626668;
    text-decoration: none;
	font-family: Roboto;
    font-size: 13px;
    text-align: left;
	margin-left: 20px;
	overflow:hidden;
	height:15px;
	margin-bottom:0px;
	line-height:15px;
	padding-right:5px;
}
#flex_new li
{
border-right:1px solid #eae7e4;
padding: 0 0 20px;
}